* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
}

img {
    max-width: 100%;
}

header {
    background-color: #255ee9;
    padding-top: 25px;
    text-align: center;

}

.container {
    width: 80%;
    margin-left:  auto;
    margin-right: auto;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

.float {
    float: left;
}

.float_r {
    float: right;
}


.discordlogo {
    width: 10%;
    margin-right: 10%;
}

header nav ul {
    display: inline-block;
    list-style: none;
    width: 60%;
    padding: 2px;
    margin-left:  auto;
    margin-right: auto;

}

header nav ul li {
    display: inline;
}

header nav ul li a {
    font-size: 10px;
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 0 1vw;
}

.nav_button {
    width: calc(20% - 8px);
    text-align: right;
    margin-left: 8px;
}

.button_small {
    color: black;
    font-size: 10px;
    text-decoration: none;
    background-color: white;
    padding: 8px;
    border-radius: 13px;
}

.jumboimg {
    position: relative;
}

.jumbotexts {
    color: white;
    position: absolute;
    bottom: 10vw;
    left: 25%;
    width: 50%;
}

div.jumbotexts h1 {
    margin-bottom: 25px;
}

div.jumbotexts p {
    margin-bottom: 25px;ù

}

.button_big {
    color: black;
    font-size: 14px;
    text-decoration: none;
    background-color: white;
    padding: 12px;
    border-radius: 19px;
}

#arrow01 {
    color: black;
}

.button_black {
    color: white;
    background-color: black;
}

div.jumbotext a.button_white {
    margin-right: 25px;
}

.col_left {
    width: 45%;
    margin-right: 10%;
}

.col_right {
    width: 45%;
}

